.content {
	max-width: 500px;
	margin: 20px auto;
}

.card {
	background-color: #FBFBFB;
}

.expandable > legend {
	cursor: pointer;
}
.expandable > legend::before {
  content: '\25B8';
  padding-right: 5px;
}

.expanded > legend::before {
  content: '\25BE';
}

.fatal-error {
	margin-top: 20px;
}
